/* GENERAL */

html, body, #app {
    height: 100%;
}

#app {
    display: grid;
    grid-template-rows: 56px 1fr 70px;
}

html, body {
  overflow-x: hidden;
}

/* NAVBAR */

.navbar-collapse {
    background-color: white;
    z-index: 1000;
}

/* HOME */

.home-section {
    color: #fff;
    text-align: center; 
    padding: 40px 0; 
}

#styleBodyHome{
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.home-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px; 
    border-radius: 20px; 
    width: 80%;
    margin: 0 auto;
    max-width: 800px; 
    box-sizing: border-box;
    text-align: center;
}

.home-content h1{
    font-family: 'Times New Roman', Times, serif;
}

.subtituloHome {
    font-size: 1.5rem;
    font-weight: bold; 
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
    width: 100%;
}

/* PRODUCTOS */

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-green-large {
    color: green;
    font-size: 0.8em;
}

/* NOTICIAS */

.card-hover {
    text-decoration: none;
    color: inherit;
}

.icon-gray-large {
    color: lightslategray;
    font-size: 0.8em;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #6d6161;
    color: #fff;
}

.footer p {
    margin-bottom: 0;
}